<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>
	    Televip-Un paso adelante.
    </name>
    <description>
        Televip
    </description>
    <author email="a@televia.com" href="https://www.tv.com/">
        Brickloyalty
    </author>
    <content src="index.html" />
    <access origin="*" />
	<access origin="http://97.74.238.180:8072/" />
	<allow-navigation href="http://97.74.238.180:8072//*" />
	<plugin name="cordova-plugin-whitelist" version="1"/>
<allow-intent href="http://*/*"/>
<allow-intent href="https://*/*"/>
<allow-intent href="tel:*"/>
<allow-intent href="sms:*"/>
<allow-intent href="mailto:*"/>
<allow-intent href="geo:*"/>
<platform name="android">
<allow-intent href="market:*"/>
</platform>

<icon src="TV.png" platform="android" qualifier="ldpi" />
<icon src="TV.png" platform="android" qualifier="mdpi" />
<icon src="TV.png" platform="android" qualifier="hdpi" />
<icon src="TV.png" platform="android" qualifier="xhdpi" />
<icon src="TV.png" platform="android" qualifier="xxhdpi" />
<icon src="TV.png" platform="android" qualifier="fr-xxhdpi" />

<feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
</feature>

<platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
</platform>


</widget>
